{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        <div>
            {{ form_label(registrationForm.name) }}
            {{ form_widget(registrationForm.name) }}
            <div class="form-error">
                {{ form_errors(registrationForm.name) }}
            </div>
        </div>

        <div>
            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email) }}
            <div class="form-error">
                {{ form_errors(registrationForm.email) }}
            </div>
        </div>

        <div>
            {{ form_label(registrationForm.plainPassword) }}
            {{ form_widget(registrationForm.plainPassword) }}
            <div class="form-error">
                {{ form_errors(registrationForm.plainPassword) }}
            </div>
        </div>

        <div>
            {{ form_label(registrationForm.role) }}
            {{ form_widget(registrationForm.role) }}
            <div class="form-error">
                {{ form_errors(registrationForm.role) }}
            </div>
        </div>

        <div>
            {{ form_label(registrationForm.agreeTerms) }}
            {{ form_widget(registrationForm.agreeTerms) }}
            <div class="form-error">
                {{ form_errors(registrationForm.agreeTerms) }}
            </div>
        </div>

        <button class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
